/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic Styling */
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: #d4c9c9;
    color: #0f0101;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #f5b9b9;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #0f0101;
    text-decoration: none;
}

.content {
    padding: 20px;
}

footer {
    background-color: #140505;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
